{% extends 'base.html' %}
{%load static %}

{% block title %}About{% endblock title %}

{% block content %}
<h1>About</h1>
<p>You’re a versatile and passionate software developer with a knack for designing, coding, and implementing software solutions that meet complex requirements. With a strong foundation in multiple programming languages and a keen eye for detail, you thrive on solving challenging problems and delivering high-quality, efficient code. Your collaborative spirit and excellent communication skills make you a valuable team player, always eager to share knowledge and learn from others. You stay current with industry trends and best practices, ensuring your solutions are innovative and forward-thinking.</p>
<img src="{% static 'img/logo.jpg' %}" style="height: 300px; width: auto;">
{% endblock content %}